{{define "subject"}}Your Go-Tweets Password Reset Request{{end}}

{{define "plainBody"}}
Hi {{.Username}},

We received a request to reset the password for your Go-Tweets account.
To proceed, please use the link below. This link will expire in 15 minutes.

{{.ResetLink}}

If you did not request this password reset, please ignore this email. No changes will be made to your account.

Thanks,
The Go-Tweets Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <h2>Password Reset Request</h2>
        <p>Hi {{.Username}},</p>
        <p>We received a request to reset the password for your account. Please click the button below to set a new password. This link will only be valid for the next 15 minutes.</p>
        
        <a href="{{.ResetLink}}" class="button">Reset Your Password</a>
        
        <p>If you did not request this change, you can safely ignore this email. Your password will not be changed.</p>
        
        <div class="footer">
            <p>Thanks,<br>The Go-Tweets Team</p>
        </div>
    </div>
</body>
</html>
{{end}}